PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=budget_tracker
ACCESS_TOKEN_SECRET=your_super_secret_jwt_access_string_here
REFRESH_TOKEN_SECRET=your_super_secret_jwt_refresh_string_here
